@use "../tokens/theme";
@use "../functions" as *;
@use "../mixins" as *;

.global-footer {
  position: relative;
  padding-top: units(6);
  padding-bottom: units(6);
  padding-left: theme.$site-margin;
  padding-right: theme.$site-margin;
}

.global-footer .item:not(:last-child) {
  margin-bottom: units(4);
}

.global-footer .link.light {
  color: color("text-weak");
  @include transition(color);

  &:hover {
    color: color("text-inverse");
  }
}

.global-footer .link.dark {
  color: color("text");
  @include transition(color);

  &:hover {
    color: color("text-link-hover");
  }
}

.global-footer .copyright,
.global-footer .social {
  font-size: font-size("xs");
  color: color("text-weak");
}

.global-footer .social .heading {
  color: color("text-weak");
  text-transform: uppercase;
  @include typeset("sans", "xs", "heading");
}

.global-footer .social .list {
  display: flex;
  margin-top: units(1);
}

.global-footer .social .icon {
  font-size: font-size("sm");
  margin-right: units(2);
}
