@use "sass:math";
@use "../tokens/system";
@use "../tokens/theme";
@use "../functions" as *;
@use "../mixins" as *;

.main-content {
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: theme.$site-margin;
  padding-right: theme.$site-margin;
  max-width: units(map-get(system.$breakpoint, tablet-lg));

  @include at-media("tablet") {
    width: math.percentage(math.div(3, 4));
  }
}
